<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/981e20b3-6573-4c66-8577-2154f9361a71/resourceGroups/IAcademyAPIResourceGroup/providers/Microsoft.ContainerRegistry/registries/IAcademyAPIRegistry</ResourceId>
    <ResourceName>IAcademyAPIRegistry</ResourceName>
    <ResourceGroup>IAcademyAPIResourceGroup</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://iacademyapiregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1844023a-527b-4d88-88e4-06b462254b6b</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>