<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/644659eb-472c-4608-aa85-c3d661ebd213/resourcegroups/ge-remote-operation/providers/Microsoft.ContainerRegistry/registries/IAcademyUserAPI</ResourceId>
    <ResourceName>IAcademyUserAPI</ResourceName>
    <ResourceGroup>ge-remote-operation</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://iacademyuserapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1844023a-527b-4d88-88e4-06b462254b6b</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>